.header__subtitle {
    position: absolute;
    align-self: flex-end;
    left: 64px;
    bottom: 30px;
    width: 100%;
    max-width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    z-index: 2;
    margin: 0 auto;
  }